.game__logo {
  clip-path: path(
    "M95.661162608824 5.1515947560834a10 10 0 0 1 8.6776747823512 0l70.607585593062 34.002821116899a10 10 0 0 1 5.4104417306427 6.784479339461l17.438633509222 76.403645518525a10 10 0 0 1 -1.9309642971379 8.4601073581505l-48.861965290359 61.270966494361a10 10 0 0 1 -7.8183148246803 3.7651019814127l-78.368507623849 0a10 10 0 0 1 -7.8183148246803 -3.7651019814127l-48.861965290359 -61.270966494361a10 10 0 0 1 -1.9309642971379 -8.4601073581505l17.438633509222 -76.403645518525a10 10 0 0 1 5.4104417306427 -6.784479339461"
  );
}

@media screen and (min-width: 768px) {
  .games {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    grid-gap: 1rem
  }
}
